<html>
<head>
    <title></title>
</head>

<body>
<g:form controller="Bookmaker" action="some">
    <g:textField name="fffff"/>
    <g:textField name="sssss"/>
    <g:hiddenField value="${token}" name="token"/>
    <g:actionSubmit value="Save"/>
</g:form>
</body>
</html>